.unstyled-list {
    padding: 0 !important;
    list-style: none !important;
}

.u-text-center {
    text-align: center !important;
}

.u-text-right {
    text-align: right !important;
}

.is-disabled {
    opacity: .5;
    pointer-events: none;
    a {
        cursor: not-allowed !important;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}