.btn--dark {
    background: $color2;
    color: $color3;
    &:hover,
    &:focus {
        background: $color6;
        color: $color3;
    }
}

.btn--light {
    background: $color6;
    color: $color3;
    &:hover,
    &:focus {
        background: $color2;
        color: $color3;
    }
}