.dropdown {
    .find-area {
        display: none;
        position: absolute;
        top: 34px;
        right: 0;
        width: 240px;
        background: #fff;
        padding: 7px;
        border: solid 1px $border-color1;
        z-index: 1001;
        input {
            width: 100%;
            border-radius: 4px;
            padding: 6px 13px;
            border: solid 1px $border-color1;
        }
    }
    &.open {
        .find-area {
            display: block;
        }
    }
    .dropdown-menu {
        width: 240px;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        &>li>a {
            padding: 4px 10px;
        }
        &>li>a:hover,
        &>li>a:focus {
            background-color: $orange;
            color: #fff;
        }
    }
    &.right-dropdown {
        text-align: right;
        .dropdown-menu {
            top: 78px;
            left: auto;
            right: 0;
            border-radius: 0;
            height: 200px;
        }
    }
}

.filter {
    .right-dropdown {
        .find-area {
            width: 238px;
            right: 1px;
        }
    }
}