.tab-sidebar {
    .nav-tabs {
        &>li {
            width: 50%;
        }
        &>li>a {
            color: $gray;
            border-radius: 0;
            padding: 10px 9px 9px;
            margin-right: 0;
            text-align: center;
        }
        &>li.active>a,
        &>li.active>a:hover,
        &>li.active>a:focus {
            border: none;
            color: $orange;
            border-radius: 0;
        }
    }
}