.feed-sidebar {
    .add-feed,
    .search-feed {
        margin-top: 26px;
        margin-bottom: 15px;
    }
    .my-feed-list {
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        li {
            &:last-child a {
                border-bottom: solid 1px $border-color1;
            }
            a {
                color: $gray;
                background: $main-bg;
                &.active,
                &:hover,
                &:focus {
                    color: $orange;
                    background: $white;
                }
            }
            img {
                width: 16px;
                height: auto;
                margin-right: 7px;
            }
            .feed-name {
                text-overflow: ellipsis;
                position: relative;
                display: block;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.feed-detail {
    .page-header {
        margin-top: 28px;
        border-bottom: solid 1px $border-color1;
        .delete-feed {
            color: $gray;
            border: solid 1px $border-color1;
            margin-top: -5px;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
    .feed-favicon {
        display: inline-block;
        margin-right: 10px;
    }
    .feed-content {
        padding: 0 20px;
        width: 85%;
        h3 {
            margin-top: 0;
            margin-bottom: 5px;
            a {
                line-height: 36px;
            }
        }
        .publish-time {
            color: $gray;
        }
    }
}