.sidebar {
	position: fixed;
	width: 250px;
	@include media("<=767px", ">=phone") {
		position: relative;
		width: 100%;
		margin-top: 50px;
	}
}

.sidebar-nav {
	background-color: $main-bg;
	padding: 0;
	.nav>li {
		position: relative;
		display: block;
		@include media("<=767px", ">=phone") {
			float: left;
			width: 24.9%;
			text-align: center;
		}
		.toggle-sidebar {
			position: absolute;
			top: 0;
			right: 5px;
			z-index: 3;
			background: transparent;
			width: 40px;
			height: 40px;
			display: block;
			text-align: center;
		}
	}
	.nav>li>a {
		color: #aaa;
		padding: 10px 25px;
		border-bottom: solid 1px $border-color1;
	}
	.nav>li>a:focus,
	.nav>li>a:hover {
		background-color: $white;
		margin-right: -1px;
		color: $dark-blue;
	}
	.nav>.active>a,
	.nav>.active>a:focus,
	.nav>.active>a:hover {
		background-color: $white;
		font-weight: $bold;
		color: $orange;
	}
}

.second-sidebar {
	background: $main-bg;
}