// Colors Scheme 
$dark-blue: #2c3e50;
$orange: #e74c3c;
$border-color1: #ddd;
$default-text-color: #888;
$gray: #aaa;
$white: #fff;
$black: #000;
$red: #ff0000;
$light-bg: #fefefe;
$light-bg-2: #fcfcfc;
$light-bg-3: #fafafa;
$main-bg: #f1f1f1;
$blue: #2980B9;
$light-blue: #3498DB;
// Font weights
$light: 100;
$regular: 400;
$bold: 600;
// Base Font
$base-font-family: 'Open Sans';
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;
$secondary-font-family: 'FjallaOne-Regular';
// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;
body {
	background-color: $main-bg;
	font-family: $base-font-family;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secondary-font-family;
}

a {
	color: $orange;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: 0 none;
		color: lighten($orange, 12%);
	}
}

input,
.form-control,
.btn {
	&:focus {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(231, 76, 60, 0.6);
		outline-color: $orange !important;
		border-color: $orange !important;
	}
}

@import '../modules/_all';
@import '../modules/_dashboard';
@import '../modules/_search-keywords';
@import '../modules/_top-content';
@import '../modules/_feeds';
@import '../modules/_content-box';
@import '../modules/_visual-templates';